USE [master]
GO
/****** Object:  Database [Mywebsitedatabase]    Script Date: 5/29/2020 11:49:13 AM ******/
CREATE DATABASE [Mywebsitedatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Mywebsitedatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Mywebsitedatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Mywebsitedatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Mywebsitedatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Mywebsitedatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Mywebsitedatabase]
GO
USE [Mywebsitedatabase]
GO
/****** Object:  User [Burak Pala]    Script Date: 5/29/2020 11:49:13 AM ******/
CREATE USER [Burak Pala] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [Burak]    Script Date: 5/29/2020 11:49:13 AM ******/
CREATE USER [Burak] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Burak Pala]
GO
/****** Object:  Table [dbo].[communication]    Script Date: 5/29/2020 11:49:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[communication](
	[ContactID] [int] IDENTITY(1,1) NOT NULL,
	[subject] [nvarchar](50) NULL,
	[firstName] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[message] [nvarchar](50) NULL,
 CONSTRAINT [PK_communication] PRIMARY KEY CLUSTERED 
(
	[ContactID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Desserts]    Script Date: 5/29/2020 11:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Desserts](
	[DessertID] [int] IDENTITY(1,1) NOT NULL,
	[DessertName] [nvarchar](max) NULL,
	[DessertsPrice] [int] NULL,
 CONSTRAINT [PK_Desserts] PRIMARY KEY CLUSTERED 
(
	[DessertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drinks]    Script Date: 5/29/2020 11:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drinks](
	[DrinkID] [int] IDENTITY(1,1) NOT NULL,
	[DrinkName] [nvarchar](max) NULL,
	[DrinkPrice] [int] NULL,
 CONSTRAINT [PK_Drinks] PRIMARY KEY CLUSTERED 
(
	[DrinkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Galeri]    Script Date: 5/29/2020 11:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Galeri](
	[PhotoID] [int] IDENTITY(1,1) NOT NULL,
	[Photo] [varchar](250) NULL,
	[Title] [varchar](150) NULL,
	[Price] [decimal](18, 2) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Galeri] PRIMARY KEY CLUSTERED 
(
	[PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GeneralSetting]    Script Date: 5/29/2020 11:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GeneralSetting](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[GoogleMap] [varchar](750) NULL,
	[SiteTitle] [varchar](150) NULL,
	[Address] [varchar](350) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](20) NULL,
	[Fax] [varchar](20) NULL,
	[Facebook] [varchar](150) NULL,
	[Twitter] [varchar](150) NULL,
	[Instagram] [varchar](150) NULL,
	[Youtube] [varchar](150) NULL,
 CONSTRAINT [PK_GeneralSetting] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MainCourse]    Script Date: 5/29/2020 11:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MainCourse](
	[MainCourseID] [int] IDENTITY(1,1) NOT NULL,
	[MainCourseName] [nvarchar](max) NULL,
	[MainCoursePrice] [int] NULL,
 CONSTRAINT [PK_MaınCourse] PRIMARY KEY CLUSTERED 
(
	[MainCourseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/29/2020 11:49:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[adminID] [int] IDENTITY(1,1) NOT NULL,
	[adminName] [nvarchar](50) NULL,
	[adminPassword] [nvarchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[adminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Galeri] ADD  CONSTRAINT [DF_Galeri_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
USE [master]
GO
